<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<meta charset="ISO-8859-1">
<link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
</html>
<body>
	<div class="container">
		<div class="row">
			<h1>Thymeleaf case demo</h1>
			<h4 th:utext="${user.userName}"></h4>
			<div th:switch="${user.role}">
 				<p th:case="'admin'">User is a administrator</p>
 				<p th:case="'manager'">User is a manager</p>
 				<p th:case="'guest'"]>User is a guest</p>
 				<p th:case="'*'">User is some other thing</p>
			</div>
		</div>
	</div>

</body>