<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<meta charset="ISO-8859-1">
<link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
</html>
<body>
	<div class="container">
		<div class="row">
			<h1>Employee</h1>
			<div class="col-md-6">
				<table class="table">
					<thread>
						<tr>
							<th> User name</th>
							<th> User email</th>
						</tr>
					</thread>
					<tbody>
						<tr th:each="user: ${users}">
							<td th:text="${user.userName}"></td>
							<td th:text="${user.email}"></td>
							<td>
								<a class="btn btn-primary" th:if="${user.role} == 'admin'">Update</a>
								<a class="btn btn-danger" th:if="${user.role} == 'admin'">Delete</a>
								<a class="btn btn-primary" th:unless="${user.role} == 'admin'">View</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>